.list-task {
  height: auto;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.create-task {
  height: auto;
  background-color: transparent;
}